/**
!/.gitignore
!/.gitattributes

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
!/pyproject.toml
!/*.lock
!/.coveragerc
!/.behaverc
!/.dockerignore
!/Dockerfile
!/docker-compose.yaml
!/.github
!/.github/workflows
!/.github/workflows/*.yaml

# ----------------------------------------------------------------
# PROJECT
# ----------------------------------------------------------------

!/dist
!/dist/VERSION

!/templates
!/templates/template*

!/docs
!/docs/**/
!/docs/**/*.md

!/models
!/models/common
!/models/**/*.yaml

!/assets
!/assets/*.lark

!/notebooks
!/notebooks/*.ipynb
!/notebooks/*.md

!/src
!/src/**/
!/src/**/*.py
!/src/**/*.yaml

!/tests
!/tests/**/
!/tests/**/*.py
!/tests/**/resources/**/
!/tests/**/resources/**/*.yaml

!/examples
!/examples/*_files/
!/examples/*_files/*_*_*.png
!/examples/**/*.md
!/examples/**/*.html
!/examples/**/*.md

# ----------------------------------------------------------------
# FORCE REMOVE
# ----------------------------------------------------------------

**/.session
**/logs
**/.vscode
**/*.tmp
**/.DS_Store
**/__archive__*
**/__pycache__*
/build

# ----------------------------------------------------------------
# FORCE RETAIN
# ----------------------------------------------------------------

!**/.gitkeep
