*
!/.gitignore

################################################################
# DOCKER
################################################################

!/.dockerignore
!/Dockerfile
!/docker-compose.yaml

################################################################
# MAIN FOLDER
################################################################

!/justfile
!/Makefile
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/.coveragerc
!/pyproject.toml
!/requirements*

################################################################
# PROJECT FILES
################################################################

!/templates
!/templates/template*

!/src
!/src/**/
!/src/**/*.py
!/src/**/*.yaml
!/main.py

!/notebooks
!/notebooks/*.ipynb
!/notebooks/*.md

!/assets
!/assets/*.lark

# NOTE: models are created as part of the build process:
!/models
!/models/*.yaml
!/models/README.md

!/docs
!/docs/*/
!/docs/*/Models/
!/docs/**/*.md

!/tests
!/tests/**/
!/tests/**/*.py
!/tests/resources/*.yaml
!/tests/README.md

!/dist
!/dist/VERSION

!/examples
!/examples/*_files/
!/examples/*_files/*_*_*.png
!/examples/*.md
!/examples/*.html
!/examples/*.md

################################################################
# AUXLIARY
################################################################

/logs
/**/.env

################################################################
# TEMPLATES
################################################################

!/templates
!/templates/.env

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.pytest_cache
/**/.DS_Store
/**/__archive__*

################################################################
# Git Keep
################################################################

!/**/.gitkeep
