# ----------------------------------------------------------------
# LOCAL SYSTEM SETTINGS
# ----------------------------------------------------------------

# ... linux users
PYTHON_PATH="python3.13"

# ... windows users
# PYTHON_PATH="py -3.13"

# ----------------------------------------------------------------
# JUPYTER SETTINGS
# ----------------------------------------------------------------

HTTP_PORT=8000

# ----------------------------------------------------------------
# API CREDENTIALS
# ----------------------------------------------------------------

# IBM Token - see https://quantum-computing.ibm.com/account -> API token
TOKEN=test1234
URL=https://auth.quantum-computing.ibm.com/api
HUB=ibm-q
GROUP=open
PROJECT=main
SEED=12345678 # seed for random number generators
